/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

body.theme-dark {
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color-base: #1004b5;
}

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили, написанные ниже, будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --font-heading-primary-color: #db00ff; /* было --font-h1-color */
  --font-heading-secondary-color: #ff0070; /* было --font-h3-color */
  --font-heading-tertiary-color: #000028; /* было --font-h4-color */
  --font-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
  --page-bg-image: url("../images/cover-image-dark.png");
  --page-bg-color-base: #1004b5;
}
