.page {
  background-color: var(--page-bg-color-base);
  background-image: var(--page-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "IBM Plex Mono", monospace;
  font-size: 112.5%;
  font-weight: 700;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  position: relative;
}

.frame-corner::before,
.frame-corner::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-color: var(--menu-color);
  border-style: solid;
}

.frame-corner::before {
  border-width: 0 0 2px 2px;
  bottom: 10px;
  left: 1px;
}

.frame-corner::after {
  border-width: 2px 2px 0 0;
  top: 10px;
  right: 1px;
}

.hide-in-day {
  display: inline-block;
  color: var(--menu-color);
  position: absolute;
  top: 10px;
  right: 25px;
}

.decor::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -20px;
  background-color: var(--accent-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  filter: blur(4px);
}

.header__theme-menu {
  align-self: end;
  justify-self: end;
}

.header__theme-menu-button {
  width: 70px;
  text-transform: lowercase;
  background: none;
  border: 2px solid transparent;
  color: var(--menu-color);
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
  position: relative;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 2px solid var(--menu-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color);
  outline-offset: 0px;
}

.header__theme-menu-button:not(.header__theme-menu-button_active):hover {
  outline: 1px solid var(--font-heading-secondary-color);
  outline-offset: 0px;
}

.depth-header {
  justify-self: end;
  width: clamp(360px, 50vw, 100%);
  height: min-content;
  color: var(--font-heading-tertiary-color);
  font-size: initial;
}

.title-decor {
  background-color: var(--accent-color);
}

.title {
  align-self: center;
  font-size: var(--h1-portrait);
  line-height: 83%;
  color: var(--font-heading-primary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-aspect-ratio: 1/1) {
  .title {
    font-size: var(--h1-landscape);
  }
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--font-text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--font-text-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
  z-index: 1;
}

.link:hover::after {
  transform: scaleX(1);
}

.link:focus-visible {
  outline: none;
  border: 1px solid var(--font-text-color);
  padding: 2px;
}

.section__content {
  margin-bottom: 80px;
}

.section__content:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .section__content {
    margin-bottom: 50px;
  }
}

.why {
  display: grid;
  grid-template-columns: minmax(250px, 33vw) 1fr;
  gap: 10px;
}

.why__title {
  grid-column: 1;
  align-self: start;
  justify-self: start;
}

.why__card {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .why {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .why__title,
  .why__card {
    grid-column: auto;
    width: 100%;
  }
}

.content {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .content {
    margin-top: 60px;
  }
}

.what {
  margin-top: 30px;
  margin-bottom: 30px;
}

.what__title {
  margin-bottom: 20px;
}

.depth {
  margin-bottom: 15px;
  height: min-content;
  color: var(--font-heading-tertiary-color);
}

.text__color {
  color: var(--font-heading-secondary-color);
}

.text {
  color: var(--font-text-color);
  font-weight: 400;
  padding-bottom: 10px;
}

.depth__advice {
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--font-heading-tertiary-color);
}

.how {
  display: grid;
  grid-template-columns: minmax(250px, 33vw) 1fr;
  gap: 20px;
}

.how__title {
  grid-column: 1;
  align-self: start;
  justify-self: start;
  margin-bottom: 0;
}

.how__card {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .how {
    grid-template-columns: 1fr;
    gap: 22px;
  }

  .how__card {
    grid-column: auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .what__title {
    width: max(230px, 23vw);
  }
}

@media (min-width: 1024px) {
  .what__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
}

.pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.7fr 1fr 1.3fr;
  gap: 20px;

  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.picture--sunset {
  grid-area: sunset;
}

.picture--ice-cream {
  grid-area: ice-cream;
}

.picture--tape {
  grid-area: tape;
}

.picture--books {
  grid-area: books;
}

.picture--street {
  grid-area: street;
}

.pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (max-width: 768px) {
  .pictures {
    display: block;
  }

  .pictures > * {
    display: block;
    width: 100%;
  }

  .pictures img {
    width: 100%;
    height: auto;
    display: block;
    padding-bottom: 10px;
  }
}

.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.title__footer {
  font-size: var(--h1-portrait);
  line-height: 83%;
  color: var(--font-heading-primary-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (min-aspect-ratio: 1/1) {
  .title__footer {
    font-size: var(--h1-landscape);
  }

  .header__theme-menu {
    padding-top: 20px;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }
}
