/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* По умолчанию — универсальный фон, если темы не заданы */
  --page-bg-image: url("../images/cover-image.png");
  --page-bg-color-base: #1004b5;
  --h1-portrait: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --h1-landscape: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-h1-color: #db00ff;
  --font-h3-color: #ff0070;
  --font-h4-color: #000028;
  --font-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --menu-color: #ff0070;
}
